In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings # Got an irritating warning

warnings.filterwarnings('ignore')
pd.set_option('float_format', '{:f}'.format)
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows', None)

# In this file i will be taking a look the "Lengdegruppe" feature in greater detail.

In [4]:
dataset = pd.read_csv("H:\Informasjonsvitenskap\Programming\Python\Info-284\Info284_Project\Exam Task\Dataset\elektronisk-rapportering-ers-2018-fangstmelding-dca-simple.csv", sep=";")

I want to see the distribution of length in this feature, are there any length that appears more often.

In [7]:
count_of_length_groups = dataset.groupby(["Lengdegruppe"])["Lengdegruppe"].count()
count_of_length_groups.sort_values(ascending=True, inplace=True)
print(count_of_length_groups)

Lengdegruppe
15-20,99 m       35893
21-27,99 m       57723
28 m og over    211134
Name: Lengdegruppe, dtype: int64

Looks like the majority of catches are made by the bigger boats.

Looking how many NaN values there are here.

In [9]:
print(dataset["Lengdegruppe"].isna().sum())

684

Considering there are only 700 NaN values, i assume we can safely drop these.

In [14]:
lengdegruppe_is_NaN = dataset[(dataset["Lengdegruppe"].isna())]

pd.DataFrame(lengdegruppe_is_NaN.head(10))

,Melding ID,Meldingstidspunkt,Meldingsdato,Meldingsklokkeslett,Starttidspunkt,Startdato,Startklokkeslett,Startposisjon bredde,Startposisjon lengde,Hovedområde start (kode),Hovedområde start,Lokasjon start (kode),Havdybde start,Stopptidspunkt,Stoppdato,Stoppklokkeslett,Varighet,Fangstår,Stopposisjon bredde,Stopposisjon lengde,Hovedområde stopp (kode),Hovedområde stopp,Lokasjon stopp (kode),Havdybde stopp,Trekkavstand,Redskap FAO (kode),Redskap FAO,Redskap FDIR (kode),Redskap FDIR,Hovedart FAO (kode),Hovedart FAO,Hovedart - FDIR (kode),Art FAO (kode),Art FAO,Art - FDIR (kode),Art - FDIR,Art - gruppe (kode),Art - gruppe,Rundvekt,Lengdegruppe (kode),Lengdegruppe,Bruttotonnasje 1969,Bruttotonnasje annen,Bredde,Fartøylengde
347,1497547,02.01.2018 13:34,02.01.2018,13:34,02.01.2018 08:50,02.01.2018,08:50,"63,115","7,604",7.000000,Storegga-Frøyabanken,7.000000,-201,02.01.2018 13:21,02.01.2018,13:21,271,2018,"63,113","7,599",7.000000,Storegga-Frøyabanken,7.000000,-162,337.000000,DRB,"Skrape, mekanisert",80.000000,Annet,LAH,Stortare,2813.000000,LAH,Stortare,2813.000000,Stortare,901.000000,Brunalger,125000.000000,NaN,NaN,NaN,NaN,NaN,"15,5"
939,1498109,03.01.2018 14:07,03.01.2018,14:07,03.01.2018 07:34,03.01.2018,07:34,"62,991","7,091",NaN,NaN,NaN,-43,03.01.2018 14:02,03.01.2018,14:02,388,2018,"62,993","7,1",NaN,NaN,NaN,-25,508.000000,DRB,"Skrape, mekanisert",80.000000,Annet,LAH,Stortare,2813.000000,LAH,Stortare,2813.000000,Stortare,901.000000,Brunalger,128000.000000,NaN,NaN,NaN,NaN,NaN,"15,5"
1486,1498570,04.01.2018 12:21,04.01.2018,12:21,04.01.2018 07:50,04.01.2018,07:50,"64,253","10,2",6.000000,Helgelandsbanken,38.000000,-40,04.01.2018 12:20,04.01.2018,12:20,270,2018,"64,254","10,206",6.000000,Helgelandsbanken,38.000000,-62,312.000000,DRB,"Skrape, mekanisert",80.000000,Annet,LAH,Stortare,2813.000000,LAH,Stortare,2813.000000,Stortare,901.000000,Brunalger,93000.000000,NaN,NaN,NaN,NaN,NaN,"16,24"
1512,1498659,04.01.2018 15:00,04.01.2018,15:00,04.01.2018 08:59,04.01.2018,08:59,"63,116","7,585",7.000000,Storegga-Frøyabanken,7.000000,-157,04.01.2018 14:39,04.01.2018,14:39,340,2018,"63,115","7,601",7.000000,Storegga-Frøyabanken,7.000000,-201,815.000000,DRB,"Skrape, mekanisert",80.000000,Annet,LAH,Stortare,2813.000000,LAH,Stortare,2813.000000,Stortare,901.000000,Brunalger,118000.000000,NaN,NaN,NaN,NaN,NaN,"15,5"
1608,1498830,04.01.2018 20:23,04.01.2018,20:23,04.01.2018 14:51,04.01.2018,14:51,"64,25","10,21",6.000000,Helgelandsbanken,38.000000,-6,04.01.2018 20:22,04.01.2018,20:22,331,2018,"64,254","10,196",6.000000,Helgelandsbanken,38.000000,-40,812.000000,DRB,"Skrape, mekanisert",80.000000,Annet,LAH,Stortare,2813.000000,LAH,Stortare,2813.000000,Stortare,901.000000,Brunalger,80000.000000,NaN,NaN,NaN,NaN,NaN,"16,24"
2260,1499177,05.01.2018 11:33,05.01.2018,11:33,05.01.2018 07:47,05.01.2018,07:47,"64,255","10,15",6.000000,Helgelandsbanken,38.000000,-39,05.01.2018 11:32,05.01.2018,11:32,225,2018,"64,252","10,147",6.000000,Helgelandsbanken,38.000000,-39,365.000000,DRB,"Skrape, mekanisert",80.000000,Annet,LAH,Stortare,2813.000000,LAH,Stortare,2813.000000,Stortare,901.000000,Brunalger,82000.000000,NaN,NaN,NaN,NaN,NaN,"16,24"
2363,1499375,05.01.2018 18:28,05.01.2018,18:28,05.01.2018 13:45,05.01.2018,13:45,"64,25","10,183",6.000000,Helgelandsbanken,38.000000,-22,05.01.2018 18:27,05.01.2018,18:27,282,2018,"64,255","10,156",6.000000,Helgelandsbanken,38.000000,-33,1423.000000,DRB,"Skrape, mekanisert",80.000000,Annet,LAH,Stortare,2813.000000,LAH,Stortare,2813.000000,Stortare,901.000000,Brunalger,90000.000000,NaN,NaN,NaN,NaN,NaN,"16,24"
2785,1499610,06.01.2018 01:25,06.01.2018,01:25,05.01.2018 21:27,05.01.2018,21:27,"64,252","10,146",6.000000,Helgelandsbanken,38.000000,-39,06.01.2018 01:24,06.01.2018,01:24,237,2018,"64,251","10,188",6.000000,Helgelandsbanken,38.000000,-50,2040.000000,DRB,"Skrape, mekanisert",80.000000,Annet,LAH,Stortare,2813.000000,LAH,Stortare,2813.000000,Stortare,901.000000,Brunalger,55000.000000,NaN,NaN,NaN,NaN,NaN,"16,24"
5791,1502169,10.01.2018 12:21,10.01.2018,12:21,10.01.2018 05:41,10.01.2018,05:41,"64,35","10,312",6.000000,Helgelandsbanken,38.000000,-44,10.01.2018 12:20,10.01.2018,12:20,399,2018,"64,344","10,284",6.000000,Helgelandsbanken,38.000000,-39,1509.000000,DRB,"Skrape, mekanisert",80.000000,Annet,LAH,Stortare,2813.000000,LAH,Stortare,2813.000000,Stortare,901.000000,Brunalger,74000.000000,NaN,NaN,NaN,NaN,NaN,"16,24"
5792,1502174,10.01.2018 12:28,10.01.2018,12:28,10.01.2018 08:08,10.01.2018,08:08,"63,293","7,691",7.000000,Storegga-Frøyabanken,7.000000,-40,10.01.2018 12:27,10.01.2018,12:27,259,2018,"63,293","7,739",7.000000,Storegga-Frøyabanken,7.000000,-30,2408.000000,DRB,"Skrape, mekanisert",80.000000,Annet,LAH,Stortare,2813.000000,LAH,Stortare,2813.000000,Stortare,901.000000,Brunalger,75000.000000,NaN,NaN,NaN,NaN,NaN,"15,5"

there are basically no outliers, most nan values are from catching algae, lets see if all algae catches are made by unspecified ship lengths

In [24]:
algae_dataset = dataset[dataset["Hovedart FAO"] == "Stortare"]
print(algae_dataset.groupby(["Art FAO"])["Lengdegruppe"].count())
print(len(algae_dataset))

Art FAO
Stortare    0
Name: Lengdegruppe, dtype: int64
683

looks like most if not ALL NaN values are from catching algae, which means we shouldnt drop NaN values but rather specify as something different so we can use it in our prediction?